/**
* Utilizar este mix para cambiar color y tamaño del spinner loader
* importar el archivo de estilos del módulo ó este archivo en el archivo principal de estilos de la app
*/
@mixin matecu-spinner($size, $color: #CCCCCC) {
    > svg {
        width: $size !important;
        height: $size !important; 
    }
    .matecu-spinner {
        &__100 {
            fill: $color;
        }
        &__90 {
            fill: rgba($color, $alpha: 9.0);
        }
        &__80 {
            fill: rgba($color, $alpha: 8.0);
        }
        &__70 {
            fill: rgba($color, $alpha: 7.0);
        }
        &__60 {
            fill: rgba($color, $alpha: 6.0);
        }
        &__50 {
            fill: rgba($color, $alpha: 5.0);
        }
        &__40 {
            fill: rgba($color, $alpha: 4.0);
        }
        &__30 {
            fill: rgba($color, $alpha: 3.0);
        }
    }
    @content;
}