$size: 80px;
.matecu-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    > svg {
        width: $size;
        height: $size;
    }
    &__hidden {
        display: none;
    }
}