<matecu-topbar-layout [prominent]="prominent" #topbar>
  <matecu-topbar-header-row first-row>
    <matecu-topbar-header-column left-column>
      <matecu-topbar-title>Topbar Next</matecu-topbar-title>
      <matecu-topbar-fab *ngIf="showFab && !twoRows">
        <mat-icon>add</mat-icon>
        <ng-container *ngIf="fabLarge"> el pueblo unido</ng-container>
      </matecu-topbar-fab>
      <matecu-topbar-search
        (valueChange)="searching($event)"
        [placeholder]="searchPlaceholder"
      ></matecu-topbar-search>

      <matecu-topbar-action position="left">
        <button mat-icon-button (click)="clickNavMenu()">
          <mat-icon>menu</mat-icon>
        </button>
      </matecu-topbar-action>
      <matecu-topbar-action position="after-fab">
        <button mat-icon-button (click)="clickNavMenu()">
          <mat-icon>notifications</mat-icon>
        </button>
      </matecu-topbar-action>
      <matecu-topbar-action position="before-search">
        <mat-icon>notifications</mat-icon>
      </matecu-topbar-action>
      <matecu-topbar-action>
        <button mat-icon-button (click)="clickNavMenu()">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-icon>notifications</mat-icon>
      </matecu-topbar-action>
      <matecu-topbar-action> a </matecu-topbar-action>
      <matecu-topbar-action>
        <button mat-icon-button (clickActionMenu)="clickActionMenu()">
          <mat-icon>more_vert</mat-icon>
        </button>
      </matecu-topbar-action>
    </matecu-topbar-header-column>
  </matecu-topbar-header-row>

  <matecu-topbar-body>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium
      facere quibusdam blanditiis facilis aliquam, voluptate illum consectetur
      error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
      consectetur assumenda libero accusamus.
    </p>
    <div style="text-align: right">
      <a routerLink="../topbar">Anterior</a> &nbsp;
      <button (click)="topbar.scrollTop()">Subir</button>
    </div>
  </matecu-topbar-body>
</matecu-topbar-layout>
