<matecu-topbar-layout [prominent]="prominent" [twoRows]="twoRows" >
    <matecu-topbar-header-row position="first">
      
    
      <matecu-topbar-title>Topbar Next</matecu-topbar-title>
      <matecu-topbar-fab *ngIf="showFab && !twoRows" [extended]="fabLarge" (clickAction)="clickFabButton()" toolTip="">
        <mat-icon>add</mat-icon>
        <ng-container *ngIf="fabLarge"> el pueblo unido</ng-container>
      </matecu-topbar-fab>
        <matecu-topbar-search (whenSearchChanges)="searching($event)" [searchPlaceholder]="searchPlaceholder"></matecu-topbar-search>
      
        <matecu-topbar-action position="left">
          <button mat-icon-button (click)="clickNavMenu()"><mat-icon>menu</mat-icon></button>
        </matecu-topbar-action>
        <matecu-topbar-action position="after-fab">
          <button mat-icon-button (click)="clickNavMenu()"><mat-icon>notifications</mat-icon></button>
        </matecu-topbar-action>
        <matecu-topbar-action position="before-search">
          <mat-icon>notifications</mat-icon>
        </matecu-topbar-action>
        <matecu-topbar-action>
          <button mat-icon-button (click)="clickNavMenu()"><mat-icon>menu</mat-icon></button>
          <mat-icon>notifications</mat-icon>
        </matecu-topbar-action>
        <matecu-topbar-action>
          a
        </matecu-topbar-action>
        <matecu-topbar-action>
          <button mat-icon-button (clickActionMenu)="clickActionMenu()"><mat-icon>more_vert</mat-icon></button>
        </matecu-topbar-action>
    </matecu-topbar-header-row>
    
     
      <matecu-topbar-body #tobarBody>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium facere quibusdam blanditiis facilis
          aliquam, voluptate illum consectetur error fugit quae quam reprehenderit? Ut, neque temporibus laboriosam
          consectetur assumenda libero accusamus.</p>
          <div style="text-align: right;">
            <a routerLink="../topbar">Anterior</a> &nbsp;
          <button (click)="tobarBody.scrollTop()">
            Subir
          </button>
        </div>
    
      </matecu-topbar-body>
    </matecu-topbar-layout>
    