:host {
    display: block;
    padding: 3re;
    margin: 0;
    ul {
        padding: 0;
        margin: 0;
        li {
            a {
                padding: 1rem 0;
                text-decoration: none;
                font-size: 1.4rem;
                display: block;
                &:not(:first-child) {
                    border: 1px solid #fcfcfc;
                }
            }
        }
    }
}