<h1>hola mundo</h1>

<mat-form-field appearance="outline">
    <mat-label>Countries</mat-label>
    <matecu-autocomplete-multiple placeholder="Placeholder" [formControl]="control" [loading]="true"
        [options]="countries"></matecu-autocomplete-multiple>
    <div matSuffix class="suffix-top">
        <button mat-icon-button (click)="selectAll()" aria-label="Select all">
            <mat-icon>select_all</mat-icon>
        </button>
        <button mat-icon-button (click)="clearAll()" aria-label="Clear all">
            <mat-icon>clear</mat-icon>
        </button>
    </div>

</mat-form-field>
{{ control.value | json }}