<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>
            País
        </mat-label>
        <matecu-autocomplete-input formControlName="country" [options]="countries()" [allowCreate]="true"
            [loading]="isLoading()" (searchChange)="onSearch($event)" (create)="onCreate($event)">
        </matecu-autocomplete-input>
        @if(form.get('country')?.hasError('required')){

        <mat-error>
            País requerido
        </mat-error>
        }
    </mat-form-field>
</form>

<h2>Valor seleccionado: {{ form.get('country')?.value }}</h2>

<!-- @for(let country of countries()){ -->
@for (country of countries(); track $index) {
<p>{{ country[0] }} - {{ country[1] }}</p>

}